@model MvcTiggy.Models.AdventureCostViewModel

@{
    ViewData["Title"] = "All Adventures";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Adventures" asp-action="Index" method="get">
<p>
    <select asp-for="adventureMaxCost" asp-items="Model.CostRanges">
       <option value="">All</option>
    </select>

    Search Adventures: <input type="text" name="SearchString" />
    <input type="submit" value="Search"/>
</p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adventures[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adventures[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adventures[0].PlannedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adventures[0].EstimatedCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Adventures) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
